
<div class="card">
  <div class="card-header">
  <h1>About Us</h1>
  </div>
  <div class="card-body">
  <b>
  <h2>
  <%= @about_me %></b></h2>
  
  <br>
  <h4>
  <ul>
  <li>This is a website built using Ruby on Rails</li>
  <li>Users can make a list of their friends and store informations like email,twitter, phone number</li>

  <li>One can sign up/sign in into his account</li>
  <li>Add details of your friends</li>
  <li>Edit, delete, show friend details</li>
  <li>The friends of one person is not visible to another person</li>
  </ul>
  </h4>
  </div>
</div>